<div id="<%= dom_id transaction %>">
  <p>
    <strong>Raw description:</strong>
    <%= transaction.raw_description %>
  </p>

  <p>
    <strong>User description:</strong>
    <%= transaction.user_description %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= transaction.amount %>
  </p>

</div>
