<p class="text-green-600"><%= notice %></p>
<% content_for :title, "Transactions" %>
<h1 class="text-2xl font-semibold tracking-tight mb-6">Transactions</h1>
<%= render partial: "transaction_table", locals: { transactions: @transactions, current: @current } %>
