<div id="<%= dom_id shortcut_entry %>">
  <p>
    <strong>Shortcut key:</strong>
    <%= shortcut_entry.shortcut_key_id %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= shortcut_entry.account_id %>
  </p>

  <p>
    <strong>Entry type:</strong>
    <%= shortcut_entry.entry_type %>
  </p>

</div>
